.Navbar {
    background-color: transparent;

    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 2;
    left: 32vw;
    text-align: center;
    display: flex;

}

.img {
    height: 9vh;
}

.hello {
    color: aliceblue;
    font-weight: normal;
    margin-left: 18vw;
    margin-top: 3vh
}

.username {
    color: antiquewhite;
}